html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/material.css";

.CodeMirror {
  border: 1px solid #eee;
}

.CodeMirror-scroll {
  overflow-x: auto;
  overflow-y: hidden;
}
